{% raw %}{% if version %}[{{ version }}]{% endraw %}(https://github.com/{{ cookiecutter.github_user }}/{{ cookiecutter.project_name }}/compare/_previous_version_tag_...{% raw %}{{ version }}) — {% endif %} {{ date.strftime('%Y-%m-%d') }}

### Whats Changed in {{ version }}

Talk about the changes in general

{% endraw %}